<mat-form-field>
  <mat-label>
    Filter
  </mat-label>
  <input matInput
         (keyup)='applyFilter($event)' />
</mat-form-field>

<table mat-table
       [dataSource]='dataSource'
       matSort>
  <ng-container matColumnDef='name'>
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
      Name
    </th>
    <td mat-cell
        *matCellDef='let attraction'>
      {{attraction.name}}
    </td>
  </ng-container>
  <ng-container matColumnDef='category'>1
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
      Category
    </th>
    <td mat-cell
        *matCellDef='let attraction'>
      {{attraction.category}}
    </td>
  </ng-container>
  <ng-container matColumnDef='place'>
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
      Place
    </th>
    <td mat-cell
        *matCellDef='let attraction'>
      {{attraction.place}}
    </td>
  </ng-container>
  <ng-container matColumnDef='lastVisited'>
    <th mat-header-cell
        *matHeaderCellDef
        mat-sort-header>
      Visit date
    </th>
    <td mat-cell
        *matCellDef='let attraction'>
      {{attraction.lastVisited | date:'longDate'}}
    </td>
  </ng-container>
  <tr mat-header-row
      *matHeaderRowDef='columns'>
  </tr>
  <tr mat-row
      *matRowDef='let row; columns: columns'>
  </tr>
</table>