@import "../../../assets/variables.scss";

mat-grid-tile {
  font-weight: bold;
  &:hover {
    background-color: $light-background;
  }
}

mat-grid-tile-header {
  color: $dark-color !important;
  background-color: transparent !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: $default-padding;
}

img {
  width: 95%;
  height: 95%;
  cursor: pointer;
}
