@import "../../assets/variables.scss";

.container {
  margin: $default-margin;
}

.active {
  font-weight: bold;
  color: $active;
}

button {
  margin-bottom: $default-margin;
  background-color: $light-background;
}
