@import "../../assets/variables.scss";

.mat-card,
.button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.mat-card {
  margin: $default-margin;
}

.card-title {
  font-weight: bold;
  color: $dark-color;
}

h1,
h2,
h4,
.more-information {
  text-align: center;
}

.official-webside-link {
  font-size: x-small;
}

.image-card,
.image {
  height: $default-image-size;
  width: 1200px;
}

.image-card {
  width: 1200px;
}

.image {
  width: $default-image-size;
}

.more-information {
  font-size: small;
}

.button {
  margin-top: $default-margin;
}
