@import "../../assets/variables.scss";

.mat-card {
  margin-left: $default-margin - $margin-alignment-size;
  margin-right: $default-margin - $margin-alignment-size;
  margin-top: $default-margin + $margin-alignment-size;
}

.card-title {
  font-weight: bold;
  color: $dark-color;
}

h1,
h2,
h4 {
  text-align: center;
}

.official-webside-link {
  font-size: x-small;
  margin-top: $default-margin;
}

.image-card {
  margin-left: 2 * $default-margin;
  margin-right: 2 * $default-margin;
  height: $default-image-size;
  width: 1200px;
}

.image {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: $default-image-size;
  width: $default-image-size;
}

.more-information {
  text-align: center;
  font-size: small;
}

button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: $default-margin;
}
