<ng-container *ngIf='touristAttraction$ | async as touristAttraction'>
  <mat-card class="mat-card">
    <mat-card-content>
      <mat-list-item>
        <mat-card-title class="card-tiltle">
          <h1>{{touristAttraction.name}}</h1>
        </mat-card-title>
      </mat-list-item>
      <mat-list-item>
        <h2>{{touristAttraction.category}}</h2>
      </mat-list-item>
      <mat-list-item>
        <h4>{{touristAttraction.description}}</h4>
      </mat-list-item>
      <mat-card class="image-card">
        <img class="image"
             mat-card-avatar
             src="{{touristAttraction.imageUrl}}"
             alt="image">
      </mat-card>
      <mat-list-item>
        <div class="button">
          <a href='{{touristAttraction.website}}'
             target="_blank">
            <button mat-button
                    class='official-webside-link'>
              <mat-icon class="icon">public</mat-icon>
              Go to the official website
            </button>
          </a>
        </div>
      </mat-list-item>
      <div class="more-information">
        <mat-list-item>
          <tg-tourist-attraction-address [address]="touristAttraction.address">
          </tg-tourist-attraction-address>
        </mat-list-item>
        <mat-list-item>
          Date of the last visit : {{touristAttraction.lastVisited | date:'longDate'}}
        </mat-list-item>
      </div>
      <div class="button">
        <button mat-button
                mat-raised-button
                (click)='backToTheList()'>
          Back to the list
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>