
<ng-container *ngIf='touristAttraction$ | async as touristAttraction'>
  <mat-card>
    <mat-card-content>
      <mat-list-item>
        <mat-card-title>
          {{touristAttraction.name}}
        </mat-card-title>
      </mat-list-item>
      <mat-list-item>{{touristAttraction.category}}</mat-list-item>
      <mat-list-item>{{touristAttraction.description}}</mat-list-item>
      <mat-list-item>{{touristAttraction.website}}</mat-list-item>
      <address>
        <mat-list-item>{{touristAttraction.address.city}}</mat-list-item>
        <mat-list-item>{{touristAttraction.address.street}}</mat-list-item>
        <mat-list-item>{{touristAttraction.address.zipCode}}</mat-list-item>
        <mat-list-item>{{touristAttraction.address.voivodeship}}</mat-list-item>
      </address>
      <mat-list-item>{{touristAttraction.lastVisited | date:'longDate'}}</mat-list-item>
      <mat-list-item>{{touristAttraction.euroregion}}</mat-list-item>
    </mat-card-content>
  </mat-card>
</ng-container>