@import "~@angular/material/theming";
@include mat-core();

$dark-accent: mat-palette($mat-green, 300, 700, 900);
$active: mat-color($dark-accent, darker);
$basic-color: mat-palette($mat-grey, 200, 300, 400);
$basic-color-darker: mat-color($basic-color, darker);
$dark-color: mat-color($mat-grey, 900);

$default-margin: 20px;
$default-padding: 10px;
$margin-alignment-size: 10px;
$default-image-size: 300px;

$spaceing-m: 97%;
